:root {
	--bs-link-color: #B33F62;
	--bs-link-hover-color: #F9564F;
	--bs-body-bg: #ffe699;
	--bs-body-color: #0F111A;
}

aside {
	max-width: 250px;
}

.my-logo {
	max-width: 250px;
	width: 100%;
}

@media (min-width: 992px) {
	aside {
		position: sticky;
		top: 0;
		z-index: 1020;
	}
}

@media (min-width: 1200px) {
	.my-fig {
		margin-left: 1em;
		float: right !important;
	}
}

.my-fig {
	display: block;
	width: clamp(200px, 100%, 400px);
}

.my-fig picture, .my-fig img {
	display: block;
	margin: auto;
	margin-bottom: 0.5em;
}

.my-fig > figcaption {
	margin-top: 0.5em;
}

.my-explanations {
	max-width: 900px;
}

.my-words {
	max-width: 500px;
}

hr {
	height: 1px;
	background: #523e00;
	border: none;
	outline: none;
	position: relative;
	width: 50%;
	margin: 3em auto;
	opacity: 1;
	overflow: visible;  /* show the :before also in Chrome and Safari */
}

hr:before {
    content: '';
	background-image: url(assets/faces-48x48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
    position: absolute;
    top: 0;
    left: 50%;
    background: #FFE699;
    padding: 2em 3em;
    transform: translate(-50%, -50%);
}

#links a {
	text-align: center;
	width: 100%;
}

#links svg {
	display: block;
	margin: auto;
	width: 32px;
	height: 32px;
}

#links span {
	display: block;
	margin-top: 0.5em;
}

.blockquote {
	font-size: 1em;
}