body {
	/* background-color: #FFDB70; */
	background-color: #FFE699;
	/* font-family: "Latin Modern Roman", serif; */
}

aside {
	max-width: 250px;
}

.my-logo {
	max-width: 250px;
	width: 100%;
}

@media (min-width: 772px) {
	aside {
		position: sticky;
		top: 0;
		z-index: 1020;
	}
}

@media (min-width: 992px) {
	.my-fig {
		margin-left: 1em;
		float: right !important;
	}
}

.my-fig {
	display: block;
	min-width: 200px;
	max-width: 400px;
}

.my-fig picture, .my-fig img {
	display: block;
	margin: auto;
	margin-bottom: 0.5em;
}

.my-fig > figcaption {
	margin-top: 0.5em;
}

.my-explanations {
	max-width: 900px;
}

.my-words {
	max-width: 500px;
}

hr {
	height: 1px;
	background: #523e00;
	border: none;
	outline: none;
	position: relative;
	width: 50%;
	margin: 3em auto;
	opacity: 1;
}

hr:before {
    content: '';
	background-image: url(assets/faces-48x48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
    position: absolute;
    top: 0;
    left: 50%;
    background: #FFE699;
    padding: 2em 3em;
    transform: translate(-50%, -50%);
}